h1,
p {
  font-family: Lato;
}

.droom1 {
  background-color: red;
  border-radius: 3em;
  text-align: center;
}

.jroom2 {
  background-color: greenyellow;
  border-radius: 3em;
  text-align: center;
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
}
